/* stylesheet for sebastian-daschner.com */

/* Open Sans font powered by fonts.googleapis.com */
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/K88pR3goAWT7BTt32Z01m1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/RjgO7rYTmqiVp7vzi-Q5UVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/ttwNtsRpgsxVmgGGmiUOEltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/LWCjsQkB6EMdfHrEVqA1KVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/xozscpT2726on7jbcb_pAltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/59ZRklaO5bWGqF5A9baEEVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/u-WUoqrET9fUeobQW7jkRVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Source Code Pro font powered by fonts.googleapis.com */
/* latin-ext */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasDy2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasDzKRFmJUU_JfdI4amS9F_UY.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Source Code Pro font powered by fonts.googleapis.com */
/* latin-ext */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(https://fonts.gstatic.com/s/sourceserifpro/v4/CeUM4np2c42DV49nanp55Q_BUM40eMa9-jBVStC9wY0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(https://fonts.gstatic.com/s/sourceserifpro/v4/CeUM4np2c42DV49nanp55dfjlLIH8KK2EW0sP7tcVLw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Source Serif Pro', 'Times New Roman', serif;
    font-size: 1.1em;
}

html, body, div, img, a, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    line-height: 1.5em;
    display: inline-block;
    margin: 0.5em 0 0.5em 0;
}

pre, code {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.85em;
    line-height: 1.3em;
    background-color: #eee;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #7595a4;
}

main a {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}

h2 {
    margin: 0 0 0.2em 0;
}

h2 a {
    font-family: 'Source Serif Pro', 'Times New Roman', sans-serif;
    font-weight: normal;
}

header {
    max-width: 45em;
    margin: 3em auto 4em auto;
    text-align: center;
}

header h1 {
    font-weight: normal;
    font-size: 2em;
    letter-spacing: 0.2em;
    margin: 0;
}

header h1 a {
    color: #000;
}

header hr {
    border-top: 1px solid #000;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin: 1em 0;
}

header ul {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    float: right;
}

header ul li {
    float: left;
    margin-right: 0.8em;
    padding: 0 0.8em 0 0;
    border-right: 1px solid #7595a4;
}

header ul li:last-child {
    border: none;
    padding: 0;
    margin: 0;
}

header a:before, header a:after, h2 a:before, h2 a:after {
    content: "";
}

a:before, .highlight:before {
    content: "{ ";
    color: #7595a4;
}

a:after, .highlight:after {
    content: " }";
    color: #7595a4;
}

main {
    font-family: 'Source Serif Pro', 'Times New Roman', serif;
    color: #333;
    max-width: 45em;
    margin: 0 auto;
    padding: 1em;
}

footer {
    max-width: 45em;
    margin: 0 auto;
    padding: 2.5em 0 3em 0;
}

footer span {
    float: right;
}

.teaser {
    border-bottom: 1px solid #bbb;
    padding: 1.5em 0;
}

.teaser:last-child {
    border: none;
}

.teaser span {
    font-size: 0.9em;
    margin-top: 0.7em;
    color: #999;
}

.teaser p {
    margin-top: 1.2em;
}
