<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>404 - Blog - Sebastian Daschner</title>
    <link rel="stylesheet" href="https://www.sebastian-daschner.com/css/style.css"/>
</head>
<body>
<div id="content">
    <header>
        <h1>
            <a href="/"><strong>sebastiandaschner</strong> blog</a>
        </h1>
        <hr>
        <ul>
            <li>
                <a href="https://www.sebastian-daschner.com/about">About</a>
            </li>
            <li>
                <a href="https://www.sebastian-daschner.com/courses/">Courses</a>
            </li>
            <li>
                <a href="https://www.sebastian-daschner.com/consulting/">Consulting</a>
            </li>
            <li>
                <a href="/">Blog</a>
            </li>
            <li>
                <a href="https://www.sebastian-daschner.com/news/">News</a>
            </li>
            <li><a onclick="return false;" href="#">More
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                         viewBox="0 0 330 330" xml:space="preserve">
                        <path d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
                                c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
                                s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
                        <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                </a>
                <ul>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCG21GE2Go3vkj7mrs675ysA">YouTube Channel</a></li>
                    <li><a target="_blank" href="https://anchor.fm/effective-developer">Podcast</a></li>
                    <li><a href="https://www.sebastian-daschner.com/talks/">Talks</a></li>
                    <li><a href="https://blog.sebastian-daschner.com/entries/book-modern-java-ee">Java EE Book</a></li>
                </ul>
            </li>
            <li>
                <a href="https://www.sebastian-daschner.com/contact">Contact</a>
            </li>
        </ul>
    </header>
    <main>
        <h2>404 - Not Found</h2>
    </main>
</div>
<footer>
    <span>&copy; Sebastian Daschner, CC BY-NC-SA 4.0</span>
</footer>
</body>
</html>
